body{
    background-image: linear-gradient(to bottom, rgba(241, 97, 75, 0) 0%, #009113ad 100%);
    min-height: 100vh;
}

.digit{
    color: rgb(112, 112, 112);
    font-size: 15rem;
    text-align: center;
}