
{% extends "base.html" %} 

{% block content %}
<h1 class="is-size-1"> Timer </h1>
<div class="columns">
  <div class="column">
      <p class="is-size-3"> Total Time: <span id="total_time">00:00</span></p>
      <div class='has-text-centered as-text-weight-semibold has-text-dark' >
          <span class='digit' id="timer">00:00:00</span>
      </div>
      <button class="button is-primary" id="start">Start</button>
      <button class="button is-primary" id="stop">Pause</button>
      <button class="button is-primary" id="reset">Reset</button>
  </div>
  <div class="column content narrow" >
      <ul id="intervals">
      </ul>
  </div>
</div>
<div class="columns">
  <div class="column" id="options">
    <p class="title is-1">Options</p>
    <div class="field">
      <label class="label">Total Time</label>
      <div class="control has-icons-left">
        <input class="input is-success" type="text" value="5:00" id="time">
        <span class="icon is-small is-left">
          <i class="fas fa-clock"></i>
        </span>
      </div>
    </div>
    <p class="subtitle is-2">Add Interval</p>
    <div class="field">
      <label class="label">Interval</label>
      <div class="control has-icons-right">
        <input class="input" type="text">
        <span class="icon is-small is-left">
          <i class="fas fa-add"></i>
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock %}
